* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    background-color: #ffffff;
    width: 100vw;
    height: 100vh;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
}

#heading {
    font-size: 60px;
    margin-top: -3vh;

}

#play-area {
    width: 70%;
    height: 70%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3%;
}

#canvas {
    box-shadow: 0 0 10px #222222;
    border-radius: 10px;
    cursor: pointer;
}

#winner {
    padding: 20px;
    border-radius: 10px;
    border: 1px solid black;
    background-color: #e4e4e4;
    position: absolute;
    font-size: 50px;
    display: none;
}